mat-toolbar .change-color {
    display: flexbox;
    justify-content: flex-start;

}


img {
    width: 5%;
    margin-right: 1%;
}

span {
    font-size: 24px;
    font-family: 'Sansita Swashed', cursive !important;
}