<mat-toolbar class="new-item">
    <h1>Anotações</h1>
    <a mat-raised-button class="anotacao" [routerLink]="['/anotacao/novo']">
        <mat-icon>add_circle</mat-icon>
        Nova Anotação
    </a>
</mat-toolbar>

<table mat-table [dataSource]="anotacao" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Nome -->
    <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef>Anotacao</th>
        <td mat-cell *matCellDef="let anotacao"> {{anotacao.text}} </td>
    </ng-container>

    <!-- Curso -->
    <ng-container matColumnDef="usuario_id">
        <th mat-header-cell *matHeaderCellDef>usuario</th>
        <td mat-cell *matCellDef="let anotacao"> {{anotacao.usuario_id?.nickname}} </td>
    </ng-container>

    <!-- Professor -->
    <ng-container matColumnDef="pasta_id">
        <th mat-header-cell *matHeaderCellDef>Pasta</th>
        <td mat-cell *matCellDef="let anotacao"> {{anotacao.pasta_id?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="interface_id">
        <th mat-header-cell *matHeaderCellDef>Cor</th>
        <td mat-cell *matCellDef="let anotacao"> {{anotacao.interface_id?.name_theme}} </td>
    </ng-container>

    <ng-container matColumnDef="texto_id">
        <th mat-header-cell *matHeaderCellDef>Fonte</th>
        <td mat-cell *matCellDef="let anotacao"> {{anotacao.texto_id?.font}} </td>
    </ng-container>


    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef class="cell-aling-center">Editar</th>
        <td mat-cell *matCellDef="let anotacao" class="cell-aling-center">
            <a mat-raised-button title="Editar" [routerLink]="['/anotacao', anotacao._id]">
                <mat-icon>edit</mat-icon>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
        <th mat-header-cell class="cell-aling-center" *matHeaderCellDef>Excluir</th>
        <td mat-cell class="cell-aling-center" *matCellDef="let anotacao">
            <button mat-raised-button color="warn" title="Excluir" (click)="excluir(anotacao._id)">
                <mat-icon>delete-forever</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>